%h2="Waves Graph"

%h4 Delta
.aGraph{wave_type: "wave0"}

%h4 High Alpha
.aGraph{wave_type: "wave1"}

%h4 High Beta
.aGraph{wave_type: "wave2"}

%h4 Low Alpha
.aGraph{wave_type: "wave3"}

%h4 Low Beta
.aGraph{wave_type: "wave4"}

%h4 Low Gamma
.aGraph{wave_type: "wave5"}

%h4 Mid Gamma
.aGraph{wave_type: "wave6"}

%h4 Theta
.aGraph{wave_type: "wave7"}

%h4 Signal Strength
.aGraph{wave_type: "quality"}
