<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert-box alert round">
      The following errors were found while submitting the form
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
