body {
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

path {
  stroke: #FF3300;
  stroke-width: 5;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #cecece;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

h2 {
  margin: 0;
  background-color: #0099cc;
  color: white;
  text-align: center;
  padding: 10px 0;
}

h4 span{
  background-color: #237dac;
  margin: 0;
  padding: 3px 10px;
  color: #ECECEC;
}

h4 {
  text-align: center;
  border-top: 2px solid #237dac;
  margin: 0;

  &.light {
    background-color: #ECECEC;
  }

  &.dark {
    background-color: #CCCCCC;
  }
}

.aGraph.light{
  background-color: #ECECEC;
}

.aGraph.dark{
  background-color: #CCCCCC;
}

/*Erik, messy css*/
.transparent{
  background-color: transparent;
}

.reveal-modal{
  max-width: 1100px;
}
.reveal-modal-bg{
  background-color: rgba(0,0,0,0.2);
}

#player_area{
  width: 100%;
  text-align: center;
  position: fixed;
  padding: 20px;
}

#player{
  margin: 0 auto;
}

#sessions_list{
  position: fixed;
  right: 0;
  list-style: none;
  margin: 0;
}

#videos_list{
  position: fixed;
  list-style: none;
  margin: 0;
}

#videos_list li a{
  width: 100%;
}
